node_modules

.env
.env.qa
.env.example

*.log
*md

dist

.vscode

.git
.gitignore

.husky
.prettierrc.json
.editorconfig
.changelog-config.ts

Dockerfile
docker-compose.yml
service-yaml.yml
test-automation.yml
biome.json

docs/
.env.test
.env
test/
coverage/

